@import 'reset';

@mixin links ($link, $visited, $hover, $active) {
    & {
        color: $link;
        &:visited {
            color: $visited;
        }
        &:hover {
            color: $hover;
        }
        &:active, &:focus {
            color: $active;
        }
    }
}




/******************************* MAIN CSS *******************************/


$bg-color: #e6e6e6;
$header-bg-color: #d3135a;

a:link, a:visited, a:hover, a:active {
	color: #fff;
	text-decoration: none;
}
h1, h2, h3, h4 {
	font-family: "Times New Roman";
}
h1 {
	font-size: 37.49px;
	padding: 0px 0px 15px 0px;
	color: #000;
	line-height: 40px;
}
section {
	padding: 20px 20px 20px 20px;
	background-color: #ffffff;
	color: #4d4d4d;
	font-size: 14px;
	line-height: 20px;
}
section p {
	margin: 10px 0px 0px 10px;
}
section#main {
	margin-top: 30px;
}
body {
	margin: 0;
	background-color: $bg-color;
	background-position: 0 0;
	font-family: "Trebuchet MS";
}
#wrapper-header {
	max-width: 1010px;
	margin: 0 auto;
}
#wrapper-content {
	max-width: 1010px;
	margin: 0 auto;
}
#wrapper-footer {
	max-width: 1010px;
	margin: 0 auto;
}
header {
	display: block;
	background-color: $header-bg-color;
	padding: 35px 10px 10px 10px;
	#logo {
		display: block;
		font-size: 59.63px;
		color: #fab3d0;
	}
	#wrapper-header {
		position: relative;
	}
	nav#menu-main, nav#menu-secondary {
		position: absolute;
	}
	nav#menu-main {
		bottom: 5px;
		right: 0px;
		font-size: 20px;
		li {
			display: inline-block;
			margin-left: 10px;
			a {
				@include links(#ffffff, #ffffff, #666666, #ffffff);
			}
		}
	}
	nav#menu-secondary {
		top: -15px;
		right: 0px;
		font-size: 14px;
		li {
			display: inline-block;
			margin-left: 5px;
			a {
				@include links(#666666, #666666, #ffffff, #666666);
				&:hover {
					text-decoration: underline;
				}
			}
			
		}
	}
}

footer {
	background-color: #666666;
	color: #b3b3b3;
}
@import "responsive";