/******************************* RESET CSS *******************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/******************************* MAIN CSS *******************************/
a:link, a:visited, a:hover, a:active {
  color: #fff;
  text-decoration: none; }

h1, h2, h3, h4 {
  font-family: "Times New Roman"; }

h1 {
  font-size: 37.49px;
  padding: 0px 0px 15px 0px;
  color: #000;
  line-height: 40px; }

section {
  padding: 20px 20px 20px 20px;
  background-color: #ffffff;
  color: #4d4d4d;
  font-size: 14px;
  line-height: 20px; }

section p {
  margin: 10px 0px 0px 10px; }

section#main {
  margin-top: 30px; }

body {
  margin: 0;
  background-color: #e6e6e6;
  background-position: 0 0;
  font-family: "Trebuchet MS"; }

#wrapper-header {
  max-width: 1010px;
  margin: 0 auto; }

#wrapper-content {
  max-width: 1010px;
  margin: 0 auto; }

#wrapper-footer {
  max-width: 1010px;
  margin: 0 auto; }

header {
  display: block;
  background-color: #d3135a;
  padding: 35px 10px 10px 10px; }
  header #logo {
    display: block;
    font-size: 59.63px;
    color: #fab3d0; }
  header #wrapper-header {
    position: relative; }
  header nav#menu-main, header nav#menu-secondary {
    position: absolute; }
  header nav#menu-main {
    bottom: 5px;
    right: 0px;
    font-size: 20px; }
    header nav#menu-main li {
      display: inline-block;
      margin-left: 10px; }
      header nav#menu-main li a {
        color: #ffffff; }
        header nav#menu-main li a:visited {
          color: #ffffff; }
        header nav#menu-main li a:hover {
          color: #666666; }
        header nav#menu-main li a:active, header nav#menu-main li a:focus {
          color: #ffffff; }
  header nav#menu-secondary {
    top: -15px;
    right: 0px;
    font-size: 14px; }
    header nav#menu-secondary li {
      display: inline-block;
      margin-left: 5px; }
      header nav#menu-secondary li a {
        color: #666666; }
        header nav#menu-secondary li a:visited {
          color: #666666; }
        header nav#menu-secondary li a:hover {
          color: #ffffff; }
        header nav#menu-secondary li a:active, header nav#menu-secondary li a:focus {
          color: #666666; }
      header nav#menu-secondary li a:hover {
        text-decoration: underline; }

footer {
  background-color: #666666;
  color: #b3b3b3; }

/******************************* RESPONSIVE CSS *******************************/

/*# sourceMappingURL=style.css.map */
